<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Entertainment Guide - Sports on TV</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.10/angular-route.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="sportsClr.js"></script>
  <script type="text/javascript" src='moviesRaw.js'></script>
  <script type="text/javascript" src='rawSports.js'></script>
  <script type="text/javascript" src="isotope.min.js"></script>
  <script type="text/javascript" src="isotope-script.js"></script>


</head>

<body ng-app='myApp'>
  <header-nav></header-nav>

  <div ng-controller="sportsCtrl">
    <header>
      <form ng-submit="getSportListings(zipCode)" name="sportsForm">
        <!-- <input name="zipCode" ng-model="zipCode" type="text" placeholder="Enter zip code"> -->
        <input type="submit" value="Get Sports">
      </form>
      <form id="eventSelect" ng-if="sports.length > 0">
        <select ng-model="eventKey">
          <option value="">All</option>
          <option ng-repeat="ev in sportTypes" value="{{ev.toLowerCase()}}">{{ev}}</option>
        </select>
      </form>

      <!-- hide section if no listings -->
      <div ng-if="sports.length > 0">
        <h4>Found {{ sports.length }} events on tv for {{prettyDate(queryDate)}}</h4>

      <!-- isotope filtering DISABLE in pref angular filter-->
        <ul class="event-list">
          <li class="event-filter" data-filter-name="">All</li>
          <li ng-repeat='ev in sportTypes' class="event-filter" data-filter-name='{{scrubEventType(ev)}}'>{{ev}}</li>
        </ul>

      </div>
      <!-- show comment if no listings -->
      <h4 ng-hide="sports.length > 0">Click to view sports on local TV.</h4>

    </header>
    <div class="sports-grid" ng-if="sports.length > 0">
      <div ng-repeat='event in sports | filter:eventKey' class="sports-tile {{getEventType(event)}}">
        <sports-tile></sports-tile>
      </div>
    </div>
  </div>

</body>
</html>
