<div class="header row">
  <div class="menu col-md-6">
    <nav>
      <a href="/guide/">Home</a>
      <a href="movies">Movie Showtimes</a>
      <a href="sports">Sports on TV</a>
      <a href="moviesOnTv">Movies on TV</a>
    </nav>
  </div>
  <div class="zip-container col-md-6" ng-hide="zipSet">
    <form id="zip-code-form">
      <div class="form-group col-md-12">
        <div class="col-md-6">
          <input type="number" class="form-control col-md-2" name="zip-code" placeholder="Enter zip code" ng-model="zipCode">
        </div>
        <div class="col-md-3">
          <input type="Submit" class="form-control col-md-2" value="Go" ng-click="setZipCode()">
        </div>
      </div>
    </form>
  </div>
  <div class="zip-container col-md-6" ng-show="zipSet">
    <div class="col-md-12">
      <h4>Your zip is: {{zipCode}}</h4>
      <button ng-click="clearZip()" class="btn btn-default btn-xs inline">X</button>
    </div>
  </div>
</div>