<header>    
    <div ng-show="moviesSet" class="movie-tv-header">
      <h4>Found {{uniqueMovies.length}} movies on TV</h4>

      <form id="tvSelect">
        <select ng-model="genreFilter">
          <option value="" selected>All</option>
          <option ng-repeat="m in uniqueGenres" value="{{m}}">{{m}}</option>
      </select>
      </form>
    </div>

    <form ng-hide="moviesSet">
      <input type="submit" ng-click="fetchMovies()" value="Get Movie Listings">
      <h4>Click to get TV movie listings</h4>
    </form>

</header>
<div ng-show="loading">Loading ...</div>

<div class="movie-tile centered" ng-repeat="m in uniqueMovies | filter:{program: {genres:genreFilter} }:true | orderBy:'startTime'">
  <movies-tv-tile></movies-tv-tile>
</div>