<header>    
    <div ng-hide="uniqueMovies.length === 0" class="movie-tv-header">
      <h4>Found {{uniqueMovies.length}} movies on TV</h4>
      <form class="movie-tv-filter">
        <select ng-model="search">
          <option value="" selected>All</option>
          <option ng-repeat="m in uniqueGenres" value="{{m}}">{{m}}</option>
      </select>
      </form>
    </div>

    <form>
      <input type="submit" ng-hide="uniqueMovies.length > 0" ng-click="fetchMovies()" value="Get Movie Listings">
    </form>
    <h4>Click to get TV movie listings</h4>
</header>
<div ng-show="loading">Loading ...</div>

<div class="movie-tile centered" ng-repeat="m in uniqueMovies | filter:search">
  <movies-tv-tile></movies-tv-tile>
</div>