<div>
  <header>
      <form ng-hide="sportsSet">
        <input type="submit" value="Get Sports for Today" ng-click="getSportListings()">
      </form>

    <div ng-show="sportsSet">
      <h4>Found {{ sports.length }} events on tv for {{prettyDate(queryDate)}}</h4>
      <ul class="event-list">
        <li class="event-filter" data-filter-name="">All</li>
        <li ng-repeat='ev in sportTypes' class="event-filter" data-filter-name='{{scrubEventType(ev)}}'>{{ev}}</li>
      </ul>
    </div>

    <form id="eventSelect" ng-show="sportsSet">
      <select ng-model="eventFilter">
        <option value="">All</option>
        <option ng-repeat="ev in sportTitles" value="{{ev}}">{{ev}}</option>
      </select>
    </form>

    <h4 ng-hide="sportsSet">Click to view sports on local TV.</h4>

  </header>

  <div ng-show="loading">Loading ... </div>

  <div class="sports-grid">
    <div ng-repeat="event in sports | filter:eventFilter | orderBy:'program.sportsId'" class="sports-tile">
      <sports-tile></sports-tile>
    </div>
  </div>
</div>