.sports-grid, .movie-grid {
  margin-bottom: 20px;
  clear:both;
}

.movie-tile, 
.sports-tile,
.movie-tv-tile {
  border: 2px solid #00ace6;
  border-radius: 2%;
  background: linear-gradient(to top, #4dd2ff 5%,#b3ecff);
  height: 360px;
  margin: 5px;
  padding: 5px;
  overflow: hidden;
}

.sports-tile,
.movie-tv-tile {
  height:280px;
}

.movie-group,
.sports-group,
.movie-tv-group {
  padding:0;
}

.centered {
  text-align: center;
}

.pad-left {
  padding-left:22px;
}

.header {
  background-color: #660066;
  height: 70px;
}

header-nav h4 {
  display:inline-block;
  vertical-align: middle;
}

/*.menu {
  margin-top:16px;
}*/

.zip-container {
  color:white;
  text-align:right;
  /*display:inline-block;*/
  padding: 15px 5px 0;
}

.zip-container button {
  font-weight: 700;
  margin-left: 10px;
}

#zip-code-form {
  margin-top:3px;
  color:black;
}

#zip-code-form input[type="number"] {
  border: 1px solid #333;
  border-radius: 2%;
}

.show-time {
  display:inline-block;
  border-radius: 6px;
  background-color:rgba(250, 235, 215, 0.8);
  padding: 1px 2px;
  margin: 0 1px 2px;
}

.show-time p {
   margin: 0 1px;
   padding:0;
}

/*nav {
  padding-top: 10px;
}*/

nav .tab {
  font-size: 18px;
  text-align:center;
  color: white;
  background-color: #990099;
  border: 1px solid #660066;
  border-radius: 15px 15px 0 0;
  height:60px;
  margin-top:8px;
  padding: 20px 0 15px;
}

nav a:link, 
nav a:visited, 
nav a:active, 
nav a:hover {
  text-decoration: none;
  color: white;
}

nav .tab:hover {
  background: linear-gradient(purple 40%, #660066);
  box-shadow: 1px -1px 2px #333;
}

button {
  padding: 25px;
  border-radius: 15px;
  background-color: #efefef;
  border: 0;
  box-shadow: 1px 1px 3px #333;
}

header {
  padding: 5px 10px;
  clear:both;
}

header input {
  font-size: 16px;
  padding: 5px 15px;
}

header input[type="submit"] {
  background-color: #990099;
  color: white;
  border: 0;
  padding: 8px 15px;
  border-radius: 2%
}

header input[type="submit"]:hover {
  background: linear-gradient(purple 40%, #660066);
  box-shadow: 1px 1px 2px #666;
}

.event-list {
  list-style-type: none;
  padding: 0;
  display:none;
}

.event-filter {
  background-color: purple;
  color: white;
  padding: 5px 8px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

header form {
  margin: 10px 0;
}

/* filter boxes */
#movieSelect select,
#eventSelect select,
#tvSelect select,
#channelSelect select {
  border-radius:5px;
  border: 1px solid blue;
}

select, 
#movieSelect select option,
#eventSelect select option,
#tvSelect select option,
#channelSelect select {
  font-size: 16px;
  line-height: 1.4em;
  padding: 5px 15px;
  color:blue;
}

.inline {
  display:inline-block;
}

.theater {
  color:#0C83C5;
  line-height:1.2em;
  margin:5px 0;
}

.genre {
  color:#0B447C;
  margin-top:10px;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
}

@media screen and (max-width: 992px) {
  .header {
    height:130px;
  }
  .menu {
    border-bottom: 3px solid #430066;
  }
  .zip-container {
    padding-top:8px;
  }
}

@media screen and (max-width:640px) {
  nav .tab {
    padding-top:0px;
    font-size:16px;
  }

  nav a {
    position:relative;
    top:6px;
    padding:0 5px;
  }
}