.sports-grid, .movie-grid {
  margin-bottom: 20px;
  clear:both;
}

.movie-tile, .sports-tile {
  width: 200px;
  height: 340px;
  float: left;
  margin: 5px;
  border: 2px solid #00ace6;
  background: linear-gradient(to top, #4dd2ff 5%,#b3ecff);
  border-radius: 2%;
  padding: 5px;
  overflow: hidden;
}

/*.movie-tile p {
  padding: 2px 5px;
}*/

.centered {
  text-align: center;
}

.header {
  /*padding: 16px 10px 0;*/
  background-color: #660066;
  height: 70px;
}

header-nav h4 {
  display:inline-block;
  vertical-align: middle;
}

.menu {
  display:inline-block;
  margin-top:16px;
}

.zip-container {
  display:inline-block;
  padding: 15px 5px 0;
  color:white;
}

.zip-container button {
  margin-left: 5px;
}

#zip-code-form {
  margin-top:3px;
  color:black;
}

#zip-code-form input[type="number"] {
  border: 1px solid #333;
  border-radius: 2%;
}

.show-time {
  display:inline-block;
  border-radius: 6px;
  background-color:rgba(250, 235, 215, 0.8);
  padding: 1px 2px;
  margin: 0 1px 2px;
}

.show-time p {
   margin: 0 1px;
   padding:0;
}

nav {
  padding-top: 10px;
}

nav a {
  background-color: #990099;
  padding: 20px 15px;
  color: white;
  border-radius: 15px 15px 0 0;
  font-size: 18px
}

nav a:link, nav a:visited, nav a:active, nav a:hover {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: white;
  background: linear-gradient(purple 40%, #660066);
  box-shadow: 1px -1px 2px #333;
}

button {
  padding: 25px;
  border-radius: 15px;
  background-color: #efefef;
  border: 0;
  box-shadow: 1px 1px 3px #333;
}

header {
  padding: 5px 10px;
  clear:both;
}

header input {
  font-size: 16px;
  padding: 5px 15px;
}

header input[type="submit"] {
  background-color: #990099;
  color: white;
  border: 0;
  padding: 8px 15px;
  border-radius: 2%
}

header input[type="submit"]:hover {
  background: linear-gradient(purple 40%, #660066);
  box-shadow: 1px 1px 2px #666;
}

.movie-tv-header {
  padding: 20px 0;
}

.movie-tv-header select {
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.event-list {
  list-style-type: none;
  padding: 0;
  display:none;
}

.event-filter {
  background-color: purple;
  color: white;
  padding: 5px 8px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

header form {
  margin: 10px 0;
}

header #eventSelect {
}

select, header #eventSelect option {
  font-size: 16px;
  line-height: 1.4em;
  padding: 5px 15px;
}

.inline {
  display:inline-block;
}

